body {
   background-color: #2c2c2c;
   margin-top: 35px;
   color: white;
   font-size: 0.75em;
}

.table {
   width: 60%;
   height: 200px;
   margin-left: 20px;
   border: 1px solid rgb(144, 144, 144);
   border-radius: 3px;


}

th {
   text-align: left;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: 800;
}


.dots {
   width: 10%;
   text-align: right;
   color: #b1b1b1aa;
}

.dots:hover {
   color: white;
   cursor: pointer;
}

.date {
   width: 40%;
   color: #b1b1b1aa;
   font-family: sans-serif;
}

.name {
   width: 50%;
   font-family: Verdana, Geneva, Tahoma, sans-serif;

}

td {
   border-top: thin solid rgba(133, 133, 133, 0.759);
   border-bottom: thin solid rgb(133, 133, 133, 0.759);
}

.arrow {
   margin-left: 10px;
}

.arrow:hover {
   cursor: pointer;
}

#table2,
#table3 {

   margin-top: 50px;
}

.minus {
   margin-right: 12px;
}

input#checkbox {
   margin-left: -0.5px;
   margin-right: 8px;
}

.folder {
   color: rgb(50, 74, 235);
   margin-right: 5px;
}

input#search {
   height: 35px;
   margin-left: 200px;
   margin-top: -10px;
   margin-bottom: -10px;
   background-color: #4f4f4f;
   background-image: url(/img/magnifying-glass-solid.svg);
   background-repeat: no-repeat;
   background-position: 5%;
   background-size: 15px;
   text-indent: 10px;
   border-style: none;
   border-radius: 4px;
}

input#search::placeholder {
   padding-left: 18px;
   color: #b8b8b8;
}

input#search:hover {
   background-image: none;
}