@font-face {
   font-family: "Avenir LT Std 95";
   src: url(../fonts/Avenir\ LT\ Std\ 95\ Black.otf);
}

@font-face {
   font-family: "Avenir LT Std 45 Book";
   src: url(../fonts/Avenir\ LT\ Std\ 45\ Book.otf);
}

p {
   margin-block-start: 0px;
   margin-block-end: 0px;
}

h1 {
   display: block;
   font-size: 0px;
   margin-block-start: 0px;
   margin-block-end: 0px;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   font-weight: none;
}

body {
   margin: 0px;
}

.main_wrap {
   width: 1440px;
   height: 990px;
   background-color: #E5E5E5;
   left: 24px;
   padding: 228px 24px 0 24px;
   margin: auto;
   gap: 24px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;

}

.bannerA1wrap {
   width: 1440px;
   height: 72px;
   background: #0B2239;

}

.bannerA1 {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 1200px;
   margin: auto auto;
}

p.textA1 {
   margin: 16px 0;
   width: 922px;
   height: 40px;
   color: #FFFFFF;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 20px;


}

p.cookieA1 {
   margin: 26px 13px 26px 20px;
   width: 86px;
   height: 20px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 12px;
   line-height: 20px;
   text-decoration-line: underline;

   color: #4AD295;
}

.buttonA1wrap {
   width: 130px;
   height: 36px;
   background: #4AD295;
   border-radius: 2px;
   display: flex;
   flex-direction: row;
   align-items: flex-start
}

.buttonA1 {
   margin: 0 0;
   padding: 8px 10px;
   font-family: "Inter";
   font-style: normal;
   font-weight: 600;
   font-size: 12px;
   line-height: 20px;
   color: #FFFFFF;
}

p.cookieA1,
.buttonA1:hover {
   cursor: pointer;
}

.bannerA2wrap {
   width: 1440px;
   height: 52px;
   background-color: #2B2627;
   box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);

}

.bannerA2 {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: 16px 345.5px;
   padding: 0px;
   gap: 8px;
   width: 749px;
   height: 20px;
   left: calc(50% - 749px/2);
   top: calc(50% - 20px/2);
}

.imageA2info {
   width: 16px;
   height: 16px;

   background: url(../img/info1.png);
}

.imageA2x {
   width: 16px;
   height: 16px;
   margin-left: 12px;
   background: url(../img/x.png);
}

.imageA2x,
.imageA2info:hover {
   cursor: pointer;
}

.bannerA2 p {
   width: 689px;
   height: 20px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 20px;
   color: #FFFFFF;
}

.bannerA2 p .A2_text_underline {
   text-decoration: underline;
}

.bannerB01wrap {
   width: 560px;
   height: 72px;

   background: #FFFFFF;
   box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
   border-radius: 16px;
}

.bannerB01 {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin: 16px;
   gap: 10px;
}

.banner_imageB01 {

   width: 36px;
   height: 36px;
   background-image: url(../img/Frame.png);

}

.B01text {
   width: 347px;
   height: 40px;

   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
   color: #0D0C22;
}

.B01button1 {
   display: flex;
   flex-direction: row;
   align-items: center;

   gap: 10px;

   width: 63px;
   height: 28px;

   background: rgba(13, 12, 34, 0.05);
   border-radius: 8px;
}

.B01button2 {
   display: flex;
   flex-direction: row;
   align-items: center;
   text-align: center;

   gap: 10px;

   width: 52px;
   height: 28px;

   background: #EA4C89;
   border-radius: 8px;
}

.B01button1 p {
   width: 43px;
   height: 20px;
   margin: auto;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 12px;
   line-height: 20px;
   color: #0D0C22;
}

.B01button2 p {
   width: 32px;
   height: 20px;
   margin: auto;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 12px;
   line-height: 20px;
   color: #FFFFFF;
}

.B01button1 p,
.B01button2 p:hover {
   cursor: pointer;
}

.bannerB02wrap {
   width: 560px;
   height: 64px;
   background: #26262B;
   box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
   border-radius: 10px;
}

.bannerB02 {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 12px 16px;
   gap: 10px;
}

.bannerB02 p {
   width: 469px;
   height: 40px;

   font-family: "Avenir LT Std 45 Book";
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 20px;
   color: #FFFFFF;
}

.buttonB02 {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;


   width: 49px;
   height: 28px;

   background: #FFFFFF;
   border-radius: 8px
}

.buttonB02 p {
   width: 29px;
   height: 20px;
   text-align: center;
   font-family: "Avenir LT Std 45 Book";
   font-style: normal;

   font-size: 12px;
   line-height: 20px;
   color: #26262B;
}

.bannerB02 p span.orange {
   color: #E6842E;

}

.buttonB02 p:hover {
   cursor: pointer;
}

.bannerC01wrap {


   width: 360px;
   height: 206px;

   background: rgba(28, 37, 64, 0.95);
   box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
   border-radius: 6px;
}

.bannerC01 {
   display: flex;
   flex-direction: column;

   padding: 24px;
   gap: 10px;

}

.cookie {
   width: 130px;
   height: 20px;

   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;
   color: #FFFFFF;
}

.bannerC01 p {
   width: 312px;
   height: 80px;

   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
   color: #FFFFFF
}

.C01end {
   display: flex;
   flex-direction: row;
   justify-content: space-between;

}

.C01end p {
   width: 160px;
   height: 16px;

   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   text-align: center;
   margin-top: 14px;
   color: #FFFFFF;
}

.acceptbtnC01 {
   display: flex;
   justify-content: center;
   margin-top: 8px;
   width: 85px;
   height: 32px;
   background: #09B3AF;
   box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
   border-radius: 6px;

}

.acceptbtnC01 p {
   width: 45px;
   height: 16px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   margin: auto;
   color: #FFFFFF;
}