body {
   width: 100%;
   min-width: 100vw;
   max-width: max-content;
   height: auto;
   margin: auto auto;
}

.top_wrapper {
   position: relative;
   min-width: 100vw;
   max-width: 100vw;
   display: grid;
   grid-template-columns: 50%;
   grid-template-rows: auto;
   background: #F4F6F9;
}

.top_banner {
   position: absolute;
   scale: 1.13;
   right: 4.1%;
   top: 5.5%
}


.top_info {
   display: flex;
   flex-direction: column;
   margin-top: 63px;
   margin-left: 163px;
}

.top_info h1 {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
   line-height: 48px;
   display: flex;
   align-items: flex-end;
   letter-spacing: 0.03em;
   color: #333333;

}

.top_info p {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 26px;
   color: #4F4F4F;
   margin-top: 30px;
   margin-bottom: 50px;
}


.top_info img {
   width: 99px;
   height: 32px;
   margin-bottom: 133px;

}



.top_btns {
   display: flex;
   flex-direction: row;
   gap: 36px;
   margin-bottom: 245px;
}

.top_btns div {
   display: flex;
   flex-direction: row;
   position: relative;
   text-align: center;

   align-items: center;
   width: 156.05px;
   height: 47px;
   background: #000000;
   border-radius: 7.33503px;
}


.top_btns div:nth-child(1) h3 {
   font-family: 'Roboto';
   font-weight: 500;
   font-size: 21px;
   line-height: 25px;
   color: #FFFFFF;
   margin-top: 10px;
}

.top_btns div:nth-child(1) i {
   color: white;
   margin: 0 12px;
}

.top_btns div:nth-child(1) h3::before {
   content: "Download on the";
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 10px;
   line-height: 12px;
   color: #FFFFFF;
   position: absolute;
   top: 6px
}


.top_btns div:nth-child(2) h3 {
   font-family: 'Roboto';
   font-weight: 700;
   font-size: 18px;
   line-height: 25px;
   color: #FFFFFF;
   margin-top: 11px;

}

.top_btns div:nth-child(2) h3 span {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 17.6041px;
   line-height: 21px;
   color: #FFFFFF;
}

.top_btns div:nth-child(2) svg {
   margin-bottom: 0px;
   margin: 0 12px;
   height: 25px;
   width: 25px;
}

.top_btns div:nth-child(2) h3::before {
   content: "Download on the";
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 10px;
   line-height: 12px;
   color: #FFFFFF;
   position: absolute;
   top: 6px
}



.info_box1 {
   display: flex;
   flex-direction: row;
   background-color: #FFFFFF;

}

.info_left_box1 {
   position: relative;
   width: 800px;
   height: 592px;
   background-image: url(../img/Ronaldo.png);

}

.bg_box {
   position: absolute;
   width: 100%;
   height: 100%;
   background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5);
}

.info_block_item2 {
   position: absolute;
   bottom: 78px;
   right: 176px;
   z-index: 1;
}

.football_match {
   position: absolute;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 3fr 1fr;
   width: 360px;
   height: 218.06px;
   left: 163px;
   top: 20%;
   z-index: 2;
   background: #FFFFFF;
   box-shadow: -22.0416px 23.8785px 48.9814px rgba(0, 0, 0, 0.5);
   border-radius: 4px;
}

.football_command {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   margin-right: 15px;


}

.football_command img {
   height: 83px;


}

.football_command img:nth-child(1) {
   margin-right: -12px;
}


.football_match_bottom {
   display: flex;
   align-items: center;
   grid-column: 1 / 3;
   background: #EEEEEE;
   border-radius: 0px 0px 4px 4px;
   padding: 0 15px;
}

.football_match_bottom h2 {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 18.8812px;
   line-height: 25px;

   color: #4F4F4F;

}

.tumblr_figures {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-left: 40px;
}

.circle {
   width: 20px;
   height: 20px;
   background-color: #FFFFFF;
   border-radius: 10px;
   box-shadow: 0px 2.09791px 2.09791px rgba(0, 0, 0, 0.25);
   margin-right: -15px;
   z-index: 2;
   transition: all 0.5s ease-in-out;
}

.circle:hover {
   margin-right: -30px;
}

.ellipse {
   width: 27px;
   height: 12.5px;
   background: #979797;
   border-radius: 100px;
}



.football_match_text {
   display: flex;
   flex-direction: column;
   padding-left: 16px;
   padding-top: 27px;
   gap: 12px;
   background-color: #FFFFFF;
   z-index: 2;
}

.football_match_text span {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 16.7833px;
   line-height: 22px;

   color: #4F4F4F;
}

.football_match_text h3 {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 24px;

   color: #000000;
}

.football_match_text p {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 21px;

   color: #000000;
}






.info_text1 {
   display: flex;
   flex-direction: column;
   /* align-self: center; */
   padding-right: 217px;

}

.info_text2 {
   display: flex;
   flex-direction: column;
   padding-left: 162px;
   padding-top: 87px;
}

.info_text1 h3,
.info_text2 h3 {
   font-family: 'Lato';

   font-weight: 700;
   font-size: 16px;
   line-height: 21px;
   color: #00ADEE;
   margin-top: 133px;
}

.info_text1 h2,
.info_text2 h2 {
   font-family: 'Lato';

   font-weight: 700;
   font-size: 28px;
   line-height: 37px;
   color: #333333;
   margin: 27px 0;
}

.info_text1 p,
.info_text2 p {
   font-family: 'Lato';

   font-weight: 400;
   font-size: 16px;
   line-height: 23px;
   color: #4F4F4F;
   margin-bottom: 22px;
   width: 400px;
}

.info_text1 a,
.info_text2 a {
   font-family: 'Lato';
   font-weight: 700;
   font-size: 16px;
   line-height: 21px;
   color: #00ADEE;
   text-decoration: none;
}

.info_text2 a {
   margin-top: 52px;
}

.info_text2 p {
   width: 480px;
}

.info_box2 {
   display: grid;
   grid-template-columns: 3fr 2fr;
   overflow: hidden;
}

.box2_image {
   position: relative;
}

.box2_image img {
   margin: 104px auto 100px auto;
}

.circle1 {
   position: absolute;
   right: 35%;
   top: 25%;
   z-index: -1;
   opacity: 0.8;

}

.circle2 {
   position: absolute;
   scale: 1.1;
   right: 19%;
   top: 13%;
   z-index: -2;
   opacity: 0.7;
}

.circle3 {
   position: absolute;
   right: 3%;
   top: 1%;
   scale: 1.2;
   z-index: -10;
   opacity: 0.2;
}

.circle4 {
   position: absolute;

   top: 0%;
   right: 20px;
   scale: 1.6;
   overflow: hidden;
   opacity: 0.1;


}

.circle5 {
   position: absolute;

   top: 0%;
   right: 20px;
   scale: 2.1;
   overflow: hidden;
   opacity: 0.1;

}

.circle6 {
   position: absolute;

   top: 0%;
   right: 20px;
   scale: 2.6;
   overflow: hidden;
   opacity: 0.1;
}

.features_box {
   position: relative;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   background: #00ADEE;
   column-gap: 90px;
   padding: 0px 200px 66px 166px;
   align-items: baseline;
   justify-items: center;
   overflow: hidden;
}

.features_box::after {
   content: "";
   position: absolute;
   left: 0;
   width: 50%;
   height: 100%;
   background-image: url(../img/background-features.png);
   background-repeat: no-repeat;
   scale: 1.1;
   opacity: 0.4;

}

.features_header {
   grid-column-start: 1;
   grid-column-end: 4;
   margin: 76px 0 59px 0;
   align-self: center;
   justify-self: center;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 28px;
   line-height: 37px;
   color: #FFFFFF;


}

.features_item img {}

.features_item p {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 23px;
   color: #FFFFFF;
}


.features_item {
   display: flex;
   flex-direction: column;
   gap: 20px;
   align-items: baseline;
   z-index: 10;
   overflow: hidden;
}

.features_item:nth-child(8) img {
   margin-top: 35px;

}

.features_item:nth-child(6) img {
   margin-top: 15px;

}



/* FEEDBACK */

.feedback_box {
   max-width: 1540px;
   display: flex;
   flex-direction: column;
   justify-items: center;
   align-items: center;
   overflow: hidden;
}

.feedback_box h1 {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 28px;
   line-height: 37px;
   color: #333333;
   margin: 62px 0;
}

.feedback_items {
   display: grid;
   grid-template-columns: repeat(5, 310px);
   column-gap: 35px;
   grid-template-rows: 160px;
   justify-content: center;

}

.feedback_item {
   display: flex;
   flex-direction: column;
   background: #FFFFFF;
   border: 1px solid #828282;
   border-radius: 4px;
   position: relative;
}


.feedback_items div:nth-child(5)::after {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   right: 0px;
   background: linear-gradient(270deg, #FFFFFF 49.84%, rgba(255, 255, 255, 0) 126.7%);
}

.feedback_items div:nth-child(5) {
   border-image: linear-gradient(to right, rgba(0, 0, 0, 0.167), white) 1%;
}

.feedback_items .feedback_item:nth-child(1)::after {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   right: 0px;
   background: linear-gradient(115deg, #FFFFFF 49.84%, rgba(255, 255, 255, 0) 80%);

}

.feedback_items .feedback_item:nth-child(1) {
   border-image: linear-gradient(to left, rgba(0, 0, 0, 0.167), white) 1%;
}


.feed_item_top {
   display: flex;
   flex-direction: row;
   margin: 15px 0 18px 17px;
   gap: 17px;
   align-items: center;
}

.feed_item_top h3 {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 19px;
   color: #333333;
}

.feed_item_top i {
   margin-left: 80px;
   color: #03A9F4;

}

.feed_item_text {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
   color: #4F4F4F;
   margin: 0px 15px;
}

.dots {
   margin: 45px 0;
   font-size: 40px;
   font-weight: bold;

}

.dots span {
   margin-left: 11px;
   color: #828282;
   transition: all 0.5s ease-in-out;
   cursor: pointer;
}

.dots span:nth-child(3) {
   color: #B2B0B0;
}

.dots span:nth-child(4) {
   color: #CDCBCB;
}

.dots span:nth-child(5) {
   color: #E2E1E1;
}

.dots span:nth-child(6) {
   color: #EEEEEE;
}

.dots span:nth-child(7) {
   color: #F7F7F7;
}

.dots span:hover {
   scale: 1.1;
   color: #00ADEE;
}

.sponsors {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background: #FAFAFA;
}

.sponsors h1 {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 28px;
   line-height: 37px;
   color: #333333;
   margin: 58px 0px;
}

.sponsors_items {
   margin-bottom: 68px;
}

.footer_banner_wrapper {
   max-height: 483px;
   display: flex;
   flex-direction: row;
}




.footer_banner_text {
   padding-left: 77px;
   padding-right: 240px;
}

.footer_banner_text h1 {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 28px;
   line-height: 37px;
   color: #333333;
   margin-top: 105px;
   margin-bottom: 35px;
}

.footer_banner_text p {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 25px;
   color: #4F4F4F;
   margin-bottom: 38px;
}

.footer {
   height: 127px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   background: #00ADEE;
}

.footer .links {
   display: flex;
   flex-direction: row;
   gap: 37px;
   list-style: none;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 21px;
   color: #FFFFFF;

}

.icons {
   display: flex;
   flex-direction: row;
   gap: 17px;
   color: white;
   scale: 1.2;
}

@media screen and (max-width:1400px) {
   .top_banner {
      display: none;
   }
}