body {
   max-width: 100vw;
   height: auto;
   font-size: 62.5% !important;
}

.top_wrapper {
   position: relative;
   width: 100vmax;
   display: grid;
   grid-template-columns: 50%;
   grid-template-rows: auto;
   background: #F4F6F9;
   margin: auto auto;
   overflow: hidden;
}

.top_banner {
   position: absolute;
   scale: 1;
   right: -1%;
   top: 4%;
   transform: scale(110%) translateX(-60px);
}


.top_info {
   display: flex;
   flex-direction: column;
   margin-top: 63px;
   margin-left: 163px;
}

.top_info h1 {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 3.5em;
   line-height: 48px;
   display: flex;
   align-items: flex-end;
   letter-spacing: 0.03em;
   color: #333333;

}

.top_info p {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 1.8em;
   line-height: 26px;
   color: #4F4F4F;
   margin-top: 30px;
   margin-bottom: 50px;
}


.top_info svg {
   max-width: 99px;
   height: 32px;
   margin-bottom: 133px;

}



.top_btns {
   display: flex;
   flex-direction: row;
   gap: 36px;
   margin-bottom: 215px;
}

.top_btns div {
   display: flex;
   flex-direction: row;
   position: relative;
   text-align: center;

   align-items: center;
   max-width: 50%;
   height: 47px;
   background: #000000;
   border-radius: 7.33503px;
   cursor: pointer;
   transition: all 0.5s ease-in-out;
}

.top_btns div:hover {
   background: #5282F0;
}


.top_btns div:nth-child(1) h3 {
   font-family: 'Roboto';
   font-weight: 500;
   font-size: 21px;
   line-height: 25px;
   color: #FFFFFF;
   margin-top: 10px;
   margin-right: 12px;

}

.top_btns div:nth-child(1) i {
   color: white;
   margin: 0 12px;
}

.top_btns div:nth-child(1) h3::before {
   content: "Download on the";
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 10px;
   line-height: 12px;
   color: #FFFFFF;
   position: absolute;
   top: 6px
}


.top_btns div:nth-child(2) h3 {
   font-family: 'Roboto';
   font-weight: 700;
   font-size: 18px;
   line-height: 25px;
   color: #FFFFFF;
   margin-top: 11px;
   margin-right: 12px;

}

.top_btns div:nth-child(2) h3 span {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 17.6041px;
   line-height: 21px;
   color: #FFFFFF;
}

.top_btns div:nth-child(2) svg {
   margin: 0px 12px;
   height: 25px;
   width: 25px;
}

.top_btns div:nth-child(2) h3::before {
   content: "Download on the";
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 10px;
   line-height: 12px;
   color: #FFFFFF;
   position: absolute;
   top: 6px
}



.info_box1 {
   display: flex;
   flex-direction: row;
   background-color: #FFFFFF;
   flex-wrap: wrap-reverse;

}

.info_left_box1 {
   position: relative;
   width: 50%;
   height: 592px;
   background-image: url(../img/Ronaldo.png);
   background-size: cover;

}

.bg_box {
   position: absolute;
   width: 100%;
   height: 100%;
   background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5);
}

.info_block_item2 {
   position: absolute;
   bottom: 78px;
   right: 176px;
   z-index: 1;
}

.football_match {
   position: absolute;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 3fr 1fr;
   width: 360px;
   height: 218.06px;
   left: 163px;
   top: 20%;
   z-index: 2;
   background: #FFFFFF;
   box-shadow: -22.0416px 23.8785px 48.9814px rgba(0, 0, 0, 0.5);
   border-radius: 4px;
}

.football_command {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   margin-right: 15px;


}

.football_command img {
   height: 83px;


}

.football_command img:nth-child(1) {
   margin-right: -12px;
}


.football_match_bottom {
   display: flex;
   align-items: center;
   grid-column: 1 / 3;
   background: #EEEEEE;
   border-radius: 0px 0px 4px 4px;
   padding: 0 15px;
}

.football_match_bottom h2 {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 18.8812px;
   line-height: 25px;

   color: #4F4F4F;

}

.tumblr_figures {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-left: 40px;
}

.circle {
   width: 20px;
   height: 20px;
   background-color: #FFFFFF;
   border-radius: 10px;
   box-shadow: 0px 2.09791px 2.09791px rgba(0, 0, 0, 0.25);
   margin-right: -15px;
   z-index: 2;
   transition: all 0.5s ease-in-out;
}

.circle:hover {
   margin-right: -30px;
}

.ellipse {
   width: 27px;
   height: 12.5px;
   background: #979797;
   border-radius: 100px;
}



.football_match_text {
   display: flex;
   flex-direction: column;
   padding-left: 16px;
   padding-top: 27px;
   gap: 12px;
   background-color: #FFFFFF;
   z-index: 2;
}

.football_match_text span {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 16.7833px;
   line-height: 22px;

   color: #4F4F4F;
}

.football_match_text h3 {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 24px;

   color: #000000;
}

.football_match_text p {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 21px;

   color: #000000;
}






.info_text1 {
   display: flex;
   flex-direction: column;
   /* align-self: center; */
   padding-right: 217px;

}

.info_text2 {
   display: flex;
   flex-direction: column;
   padding-left: 162px;
   padding-top: 87px;
}

.info_text1 h3,
.info_text2 h3 {
   font-family: 'Lato';

   font-weight: 700;
   font-size: 16px;
   line-height: 21px;
   color: #00ADEE;
   margin-top: 133px;
}

.info_text1 h2,
.info_text2 h2 {
   font-family: 'Lato';

   font-weight: 700;
   font-size: 28px;
   line-height: 37px;
   color: #333333;
   margin: 27px 0;
}

.info_text1 p,
.info_text2 p {
   font-family: 'Lato';

   font-weight: 400;
   font-size: 16px;
   line-height: 23px;
   color: #4F4F4F;
   margin-bottom: 22px;
   max-width: 400px;
}

.info_text1 a,
.info_text2 a {
   font-family: 'Lato';
   font-weight: 700;
   font-size: 16px;
   line-height: 21px;
   color: #00ADEE;
   text-decoration: none;
}

.info_text2 a {
   margin-top: 52px;
}

.info_text2 p {
   max-width: 480px;
}

.info_box2 {
   display: flex;
   flex-direction: row;
   grid-template-columns: 3fr minmax(1fr, 2fr);
   overflow: hidden;
   grid-auto-flow: column;
   flex-wrap: wrap;
}

.box2_image {
   position: relative;
   display: flex;
   flex: 50%;
   justify-self: center;

}

.box2_image img {
   position: relative;
   margin: 104px auto 100px auto;
   transform: translateX(-42px);
}

.box2_image::before {
   content: "";
   position: absolute;
   top: 20%;
   left: 28%;
   width: 91px;
   height: 91px;
   border-radius: 50%;
   background: #FFFFFF;
   background-image: url(../img/bell.png);
   background-repeat: no-repeat;
   background-position: 50%;
   box-shadow: 0px 2.51034px 6.27586px rgba(51, 51, 51, 0.1), 0px 3.13793px 15.6897px rgba(0, 0, 0, 0.25);
   z-index: 100;
   animation-name: smooth_scale;
   animation-duration: 1s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}

.box2_image::after {
   content: "";
   position: absolute;
   bottom: 28%;
   right: 32%;
   width: 91px;
   height: 91px;
   border-radius: 50%;
   background: #FFFFFF;
   background-image: url(../img/phone_item.png);
   background-repeat: no-repeat;
   background-position: 50%;
   box-shadow: 0px 2.51034px 6.27586px rgba(51, 51, 51, 0.1), 0px 3.13793px 15.6897px rgba(0, 0, 0, 0.25);
   z-index: 100;
   animation-name: smooth_scale;
   animation-duration: 1s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}

@keyframes smooth_scale {
   from {
      transform: scale(1);
   }

   to {
      transform: scale(1.1)
   }

}

.circle1 {
   position: absolute;
   right: 30%;
   top: 25%;
   z-index: -1;
   opacity: 0.8;

   : :nth
}

.circle2 {
   position: absolute;
   scale: 1.1;
   right: 19%;
   top: 13%;
   z-index: -2;
   opacity: 0.7;
}

.circle3 {
   position: absolute;
   right: 3%;
   top: 1%;
   scale: 1.2;
   z-index: -10;
   opacity: 0.2;
}

.circle4 {
   position: absolute;

   top: 0%;
   right: 20px;
   scale: 1.6;
   overflow: hidden;
   opacity: 0.1;


}

.circle5 {
   position: absolute;

   top: 0%;
   right: 20px;
   scale: 2.1;
   overflow: hidden;
   opacity: 0.1;

}

.circle6 {
   position: absolute;

   top: 0%;
   right: 20px;
   scale: 2.6;
   overflow: hidden;
   opacity: 0.1;
}

.features_box {
   position: relative;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   background: #00ADEE;
   column-gap: 90px;
   padding: 0px 200px 66px 166px;
   align-items: baseline;
   justify-items: center;
   overflow: hidden;
}

.features_box::after {
   content: "";
   position: absolute;
   left: 0;
   width: 50%;
   height: 100%;
   background-image: url(../img/background-features.png);
   background-repeat: no-repeat;
   scale: 1.1;
   opacity: 0.4;

}

.features_header {
   grid-column-start: 1;
   grid-column-end: 4;
   margin: 76px 0 59px 0;
   align-self: center;
   justify-self: center;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 2.8em;
   line-height: 37px;
   color: #FFFFFF;


}

.features_item path {
   fill: white;
}

.features_item p {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 1.6em;
   line-height: 23px;
   color: #FFFFFF;
}


.features_item {
   display: flex;
   flex-direction: column;
   gap: 20px;
   align-items: baseline;
   z-index: 10;
   overflow: hidden;
}

.features_item:nth-child(8) img {
   margin-top: 35px;

}

.features_item:nth-child(6) img {
   margin-top: 15px;

}



/* FEEDBACK */

.feedback_box {
   max-width: 100vmax;
   display: flex;
   flex-direction: column;
   justify-items: center;
   align-items: center;
   overflow: hidden;
}

.feedback_box h1 {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 2.8em;
   line-height: 37px;
   color: #333333;
   margin: 62px 0;
}

.feedback_items {
   display: grid;
   grid-template-columns: repeat(5, 310px);
   column-gap: 35px;
   grid-template-rows: 160px;
   justify-content: center;

}

.feedback_item {
   display: flex;
   flex-direction: column;
   background: #FFFFFF;
   border: 1px solid #828282;
   border-radius: 4px;
   position: relative;
}


.feedback_items div:nth-child(5)::after {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   right: 0px;
   background: linear-gradient(270deg, #FFFFFF 49.84%, rgba(255, 255, 255, 0) 126.7%);
}

.feedback_items div:nth-child(5) {
   border-image: linear-gradient(to right, rgba(0, 0, 0, 0.167), white) 1%;
}

.feedback_items .feedback_item:nth-child(1)::after {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   right: 0px;
   background: linear-gradient(115deg, #FFFFFF 49.84%, rgba(255, 255, 255, 0) 80%);

}

.feedback_items .feedback_item:nth-child(1) {
   border-image: linear-gradient(to left, rgba(0, 0, 0, 0.167), white) 1%;
}


.feed_item_top {
   display: flex;
   flex-direction: row;
   margin: 15px 0 18px 17px;
   gap: 17px;
   align-items: center;
}

.feed_item_top h3 {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 1.6em;
   line-height: 19px;
   color: #333333;
}

.feed_item_top i {
   margin-left: 80px;
   color: #03A9F4;

}

.feed_item_text {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 1.4em;
   line-height: 18px;
   color: #4F4F4F;
   margin: 0px 15px;
}

.dots {
   margin: 45px 0;
   font-size: 40px;
   font-weight: bold;

}

.dots span {
   margin-left: 11px;
   color: #828282;
   transition: all 0.5s ease-in-out;
   cursor: pointer;
}

.dots span:nth-child(3) {
   color: #B2B0B0;
}

.dots span:nth-child(4) {
   color: #CDCBCB;
}

.dots span:nth-child(5) {
   color: #E2E1E1;
}

.dots span:nth-child(6) {
   color: #EEEEEE;
}

.dots span:nth-child(7) {
   color: #F7F7F7;
}

.dots span:hover {
   scale: 1.1;
   color: #00ADEE;
}

.sponsors {
   max-width: 100vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background: #FAFAFA;
}

.sponsors h1 {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 28px;
   line-height: 37px;
   color: #333333;
   margin: 58px 0px;
}

.sponsors_items {
   margin-bottom: 68px;
   display: flex;
   flex-wrap: wrap;
   gap: 80px;
}

.footer_banner_wrapper {
   max-width: 100%;
   height: auto;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap-reverse;
}

.footer_banner_image {
   max-width: 100%;
   height: auto;
   flex: 1;
   transform: scaleY(101%);

}




.footer_banner_text {
   padding-left: 77px;
   margin-right: 240px;
   flex: 2;
}

.footer_banner_text h1 {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 28px;
   line-height: 37px;
   color: #333333;
   margin-top: 105px;
   margin-bottom: 35px;
}

.footer_banner_text p {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 25px;
   color: #4F4F4F;
   margin-bottom: 38px;
}

.footer {
   max-width: 100%;
   height: 127px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   background: #00ADEE;
   flex-wrap: wrap;
}

.footer .links {
   display: flex;
   flex-direction: row;
   gap: 37px;
   list-style: none;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 1.6em;
   line-height: 21px;
   color: #FFFFFF;

}

.links li {
   cursor: pointer;
}

.icons {
   display: flex;
   flex-direction: row;
   gap: 17px;
   color: white;
   scale: 1.2;
}

i {
   transition: all 0.5s ease-in-out;
}

.icons i:hover {
   cursor: pointer;
   scale: 1.1;
}

.bottom {
   margin-bottom: 0px;
}


@media screen and (max-width:360px) {
   body {
      max-width: 360px;
   }

   .top_banner {
      display: none;
   }
}


@media screen and (max-width:360px) {
   .top_btns div:nth-child(2) h3 {
      margin-right: 6px;
   }

   .top_btns div:nth-child(1) h3 {
      margin-right: 6px;
   }

   .top_btns {
      margin-bottom: 59px;
   }



   .features_box {
      max-width: 360px;
      background: #FAFAFA;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 0;
   }

   .features_header {
      color: #333333;
   }

   .features_box::after {
      background-image: none;
   }

   .features_item p {
      color: #4F4F4F;
      text-align: center;
   }

   .top_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
   }


   .football_match {
      width: 100%;
      left: -30px;
      top: 5%;
      scale: 0.7;
   }

   .top_info svg {
      margin-bottom: 86px;
   }

   .top_info {
      flex: 1;
      margin: auto auto;
      text-align: center;
      align-items: center;
      padding: 34px 20px 0px 20px;
   }

   .top_info h1 {
      font-size: 3.2em;
   }

   .footer_banner_text {
      margin: auto auto;
   }

   .footer .links {
      gap: 25px;
   }

   .info_text1 {
      justify-content: center;
      align-items: center;
      padding-left: 20px;
      padding-right: 10px;
      text-align: center;
   }

   .info_text1 h2 {
      text-align: center;
   }

   .info_text1 h3 {
      margin-top: 54px;
   }

   .info_text1 a {
      margin-bottom: 22px;
   }

   .info_box1 {
      flex-wrap: wrap-reverse;
   }

   .info_left_box1 {
      position: relative;
      width: 100%;
      height: 360px;
   }

   .bg_box {
      background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5);
      transform: rotate(-90deg);
      margin-bottom: -5px;
      width: 100%;
      height: 100%;
   }

   .info_block_item2 {
      width: 60%;
      bottom: 35px;
      right: 25px;
      z-index: 1;
   }

   .info_text2 {
      text-align: center;
      padding: 0 15px;
   }

   .info_text2 a {
      margin-top: 0px;
      margin-bottom: 40px;
   }

   .info_text2 h3 {
      margin-top: 62px;
   }

   .circles {
      display: none;
   }

   .box2_image {
      scale: 0.8;
      justify-content: center;
   }

   .box2_image img {
      margin: auto auto;
      transform: translateX(-10px);
   }

   .box2_image::before {
      top: 10%;
      left: 5%;

   }

   .box2_image::after {
      bottom: 24%;
      right: 0%
   }

   .circle2 {
      right: -35%;
      top: -20px;
   }

   .circle1 {
      right: -7%;
      top: 15%;
   }

   .features_box {
      padding: 0px 20px;
      padding-bottom: 69px;
      gap: 54px;
      text-align: center;
   }

   .features_item {
      align-items: center;

   }

   .features_header {
      margin-top: 42px;
      margin-bottom: 25px;
   }

   .features_item path {
      fill: #00ADEE;
   }

   .feedback_box h1 {
      margin: 50px 0;
   }

   .dots {
      font-size: 30px;
   }

   .footer_banner_text {
      padding: 0px 20px;
      text-align: center;
   }

   .footer_banner_text h1 {
      margin: 15px auto;
   }

   .footer_banner_image img {
      max-width: 100%;
      scale: 1.01;
   }

   .footer_banner_image {
      flex: auto;
   }

   .sponsors_items {
      gap: 40px;
      justify-content: center;
   }
}

@media screen and (max-width:1400px) {

   .top_wrapper {
      width: 100vw;
   }

   .top_banner {
      display: none;
   }
}