body {
   position: relative;
   width: 1600px;
   height: 4600px;
   margin: 0px auto;
   background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
}

hr {
   width: 100%;
   margin: 0px 0px;
   background: #9C69E2;
   opacity: 0.2;
}

/* HEADER */

.header {
   position: relative;
   width: 1120px;
   display: flex;
   flex-direction: row;
   margin: 50px auto;
   justify-content: space-between;

}

.header img {

   height: 40px;
}

.header ul {
   display: flex;
   margin-left: -400px;
   width: 322px;
   flex-direction: row;
   justify-content: space-between;
   list-style: none;


}

.header li {
   margin: 0px 30px;
   font-family: 'Sen';
   cursor: pointer;
}

.header li a span {
   font-weight: 800;

}




.header button {
   width: 210px;
   height: 60px;
   font-family: 'Sen';
   font-weight: 800;
   font-size: 16px;
   line-height: 160%;
   background: #FFFFFF;
   border-radius: 50px;
   border-style: none;
}

.header button i {
   margin-left: 10px;
}


.arrow {
   color: #9C69E2;
}

/* ABOUT */

.main {
   width: 645px;
   height: 464px;
   margin-top: 130px;
}

.main h1 {
   font-family: 'Helvetica';
   font-style: normal;
   font-weight: 700;
   font-size: 80px;
   line-height: 110%;
   margin-top: 0px;
   color: #212353;
}

.main p {
   width: 380px;
   height: 120px;
   font-family: 'Sen';
   font-weight: 500;
   font-size: 18px;
   line-height: 160%;
   color: #4B5D68;
}

.main button {
   width: 170px;
   height: 60px;
   background: #9C69E2;
   border-radius: 50px;
   font-family: 'Sen';
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 160%;
   color: #FFFFFF;
   margin-top: 40px;
   border-style: none;
}


.main_wrapper {
   width: 1248px;
   height: 754px;
   margin: 0 auto;
   background-image: url(../img/image1\ 1.png);
   background-size: 885px;
   background-position: 100%;
   background-repeat: no-repeat;
}

.bottom_main {
   display: flex;
   flex-direction: row;
   width: 1117px;
   height: 560px;
   margin: 0px auto;

   background: rgba(240, 99, 184, 0.15);
   border-radius: 50px;

}

.bottom_main img {
   width: 477px;
   height: 504px;
   margin-right: 62px;
}

.bottom_main_text {
   display: flex;
   flex-direction: column;
   margin-right: 93px;
}

.bottom_main_text h1 {
   font-family: 'Helvetica';
   font-style: normal;
   font-weight: 700;
   font-size: 40px;
   line-height: 130%;
   color: #212353;
   margin-top: 125px;
   margin-bottom: 40px;
   text-shadow: 0px 3px 3px rgba(75, 93, 104, 0.3);
}

.bottom_main_text p {
   font-family: 'Sen';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 160%;
   color: #4B5D68;
}

.features {
   display: flex;
   flex-direction: column;
   text-align: center;
}

.features h1 {
   font-family: 'Helvetica';
   font-style: normal;
   font-weight: 700;
   font-size: 40px;
   line-height: 130%;
   color: #212353;
   margin-top: 150px;
   margin-bottom: 0px;
}

.features p {

   width: 584px;
   height: 58px;
   margin-top: 50px;
   align-self: center;
   color: #4B5D68;
   font-family: 'Sen';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 160%;

}

/* CARDS */

.cards_wrapper {
   display: flex;
   max-width: 1117px;
   height: 700px;
   justify-content: space-between;
   flex-wrap: wrap;
   margin: 150px auto 0 auto;

}

.card1,
.card2,
.card3,
.card4 {
   display: flex;
   width: 515px;
   height: 340px;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.card1 img {
   margin-top: 40px;

}



.card_text {
   display: flex;
   flex-direction: column;
   margin-left: 30px;
}

.card_text h1 {
   font-family: 'Helvetica';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 130%;
   color: #212353;
}

.card_text p {
   font-family: 'Sen';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 160%;
   color: #4B5D68;
   margin-right: 15px;
}

p.btn {
   font-family: 'Sen';
   font-style: normal;
   font-weight: 900;
   font-size: 16px;
   line-height: 160%;
   letter-spacing: 0.005em;

   color: #212353;
}

p.btn:hover {
   cursor: pointer;
}

.card_btn {
   margin-left: 20px;
}

.card4 .card_text {
   margin-top: 40px;
}

.card3 p.btn {
   padding-top: 45px;
}

/* TESTIMONIALS */

.testimonials {
   display: flex;
   width: 1118px;
   height: 709px;
   justify-content: center;
   align-items: center;
   margin-top: 175px;
   background: #9C69E2;
   border-radius: 50px;
   margin: 175px auto 150px auto;

}

.testimonials h1 {
   margin: 0 0 88px 0;
   font-family: 'Helvetica';
   font-style: normal;
   font-weight: 700;
   font-size: 40px;
   line-height: 130%;
   color: #FFFFFF;
}

.testimonials_card {
   display: flex;
   flex-direction: row;
   width: 949px;
   height: 330px;

   background: #FFFFFF;
   box-shadow: 0px 20px 0px rgba(130, 64, 221, 0.568);
   border-radius: 20px;
}

.testimonial_card_text h1 {
   font-family: 'Sen';
   font-style: normal;
   font-weight: 900;
   font-size: 18px;
   line-height: 160%;

   letter-spacing: 0.005em;
   color: #212353;
}

.testimonial_card_text h2 {

   font-family: 'Sen';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 160%;
   letter-spacing: 0.01em;
   color: #9C69E2;
}

.testimonial_card_text p {
   font-family: 'Sen';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 180%;
   color: #4B5D68;
}

.testimonials_card img {
   width: 132.42px;
   height: 90px;
   margin-left: 102px;
   margin-top: 60px;
   margin-right: 44px;
}

.testimonial_card_text {
   margin-right: 112px;
   margin-top: 80px;
}

.testimonial_card_text h1 {
   margin: 0 0;
}

.testimonial_card_text h2 {
   margin-top: 0px;
}


.testimonials_content {
   width: 950px;
   height: 600px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin: 109px 76px 58px 93px;
}

.testimonials_content .dots {
   display: inline-block;
   margin-top: 40px;
   color: white;
   font-size: 30px;
}



.testimonial_card_bottom {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.testimonial_card_bottom .arrow-left {
   color: white;
   margin-left: 600px;

}

.testimonial_card_bottom .fa-arrow-right {
   color: white;
}


/* FOOTER TOP */

.footer_top {
   width: 1600px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 300px;
   margin-top: 100px;
}

.footer_top h1 {
   font-family: 'Helvetica';
   font-style: normal;
   font-weight: 700;
   font-size: 40px;
   line-height: 130%;
   color: #212353;
}

.footer_top p {
   font-family: 'Sen';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 160%;
   color: #4B5D68;
}

.footer_top_btns {
   align-self: center;
}

.footer_top_btn1 {
   width: 170px;
   height: 60px;
   background: #F063B8;
   border-radius: 50px;
   border-style: none;
   font-family: 'Sen';
   font-weight: 400;
   font-size: 18px;
   line-height: 160%;
   color: #FFFFFF;
   opacity: 0.6;
}

.footer_top_btn2 {
   width: 210px;
   height: 60px;
   background: #FFFFFF;
   box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
   border-radius: 50px;
   border-style: none;
   font-family: 'Sen';
   font-weight: 400;
   font-size: 16px;
   line-height: 160%;
   letter-spacing: 0.005em;
   margin-left: 30px;
   opacity: 0.6;
}



/* FOOTER INFO */

.footer_info {
   display: flex;
   flex-direction: row;
   justify-content: center;
   list-style: none;
   gap: 200px;
   margin-top: 180px;
}

.footer_column1 div {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin-bottom: 67px;
}

.footer_column1 img {
   width: 49px;
   height: 35px;
   margin-right: 15px;
}

.footer_column1 div h2 {
   font-family: 'Sen';
   font-weight: 900;
   font-size: 20px;
   line-height: 160%;
   color: #212353;
   /* align-self: center; */
   margin: auto 0;

}

.footer_column1 h3 {
   font-family: 'Sen';
   font-weight: 600;
   font-size: 16px;
   line-height: 180%;
   letter-spacing: 0.01em;
   color: #212353;
}

.footer_column1 p {
   font-family: 'Sen';
   font-weight: 400;
   font-size: 16px;
   line-height: 180%;
   letter-spacing: 0.01em;
   color: #212353;
}

.footer_info h2 {
   font-family: 'Sen';

   font-weight: 900;
   font-size: 16px;
   line-height: 160%;
   color: #212353;
   margin-bottom: 30px;
}

.footer_info li {
   font-family: 'Sen';
   font-weight: 400;
   font-size: 16px;
   line-height: 250%;
   color: #212353;
}

.footer_info li:hover {
   font-weight: 800;
   cursor: pointer;
}

.social_media_icons {
   display: flex;
   flex-direction: row;
   gap: 20px;
   margin-top: 20px;
   opacity: 0.5;
}



.copyright {
   position: absolute;
   width: 360px;
   bottom: 0.5%;
   left: 13%;
   height: 50px;
   font-family: 'Avenir';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 180%;

   display: flex;
   align-items: center;
   letter-spacing: 0.01em;
   color: #212353
}

.for_help {
   width: 60px;
   height: 60px;
   display: flex;
   background-color: #9b69e265;
   border-radius: 50px;
   justify-content: center;
   align-items: center;
}





/* HOVERS */

.header li:hover {
   font-weight: 800;

}

.social_media_icons i:hover {
   cursor: pointer;
   opacity: 1;
   color: #bb32f1;
   text-shadow: 0 0 2px rgba(0, 0, 0, 0.568);
}

.footer_top_btn1:hover,
.footer_top_btn2:hover {
   cursor: pointer;
   opacity: 1;
}

.fa-arrow-right:hover,
.arrow-left:hover {
   cursor: pointer;
   color: #F063B8;
}

.testimonials_content .dots span:hover {
   color: #F063B8;
   cursor: pointer;

}

.main button:hover {
   cursor: pointer;
   box-shadow: 2px 8px 8px rgba(75, 93, 104, 0.1);
}

.header button:hover {
   cursor: pointer;
   box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
}